// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

// Colors

$button-color: #2e66e5;
$global-text-color: #13182c;
$global-background: #ffffff;
$placeholder-color: #5c667e;
$border-color: #bdc5d5;
$header-background-color: #232940;
$secondary-background-color: #f7f8f9;
$instock-label: #158463;
$instock-label-background: rgb(21, 132, 99, 0.07);
$error-color: #c94515;
$error-color-background: rgb(201, 69, 21, 0.07);
$hover-state: #2E66E512;

//Font Sizes

$tablet-page-header: 2rem;
$tablet-subheader: 1.5rem;
$tablet-label: 0.875rem;
$tablet-table-header: 0.75rem;
$tablet-body-large: 1rem;
$tablet-body-medium: 0.875rem;
$tablet-body-small: 0.75rem;

$mobile-page-header: 1.75rem;
$mobile-subheader: 1.25rem;
$mobile-label: 0.8125rem;
$mobile-table-header: 0.6875rem;
$mobile-body-large: 0.9375rem;
$mobile-body-medium: 0.8125rem;
$mobile-body-small: 0.6875rem;

